body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    padding: 20px 0;
}

a {
    text-decoration: none;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form {
    width: 350px;
    background-color: #eec9b1;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 15px 2px 5px rgba(201, 152, 108, 0.1);
}

.login-form h2 {
    margin: 1%;
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #eb9e60;
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #ec510f;
}
